.banners {
  display: flex;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.banner-wrapper {
  margin-right: 10px;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }
}

.banner {
  border-radius: .5em;
  overflow: hidden;
  position: relative;
  width: 100%;

  a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }

  .image {
    border-radius: .5em;
    min-height: 200px;
    width: 100%;
  }

  &:before {
    content: "";
    position: absolute;
      top: 60%;
      right: 0;
      bottom: 0;
      left: 0;
    background: linear-gradient(to top, rgba(255,255,255,.8), rgba(255,255,255,0));
  }

  .banner-title {
    position: absolute;
      bottom: 1em;
      left: 1em;
    margin: 0;
  }
    
}

@media (max-width: $bp-medium) {
  .banners {
    flex-wrap: wrap;
  }
  .banner-wrapper {
    margin-right: 0;
  }
}
